dependencies:
- name: kube-state-metrics
  version: 2.13.2
  repository: https://prometheus-community.github.io/helm-charts
  alias: ksm-instance-one
  tags:
    - one-ksm-instance
    - two-ksm-instances

- name: kube-state-metrics
  version: 2.13.2
  repository: https://prometheus-community.github.io/helm-charts
  alias: ksm-instance-two
  tags:
    - two-ksm-instances

- name: alpine-pending
  version: "1.0.0"
  repository: "file://../alpine-pending"
  alias: alpine-pending-scheduled
  tags:
    - with-pending-pods

- name: alpine-pending
  version: "1.0.0"
  repository: "file://../alpine-pending"
  alias: alpine-pending-non-scheduled
  tags:
    - with-pending-pods

- name: test-statefulset
  version: "1.0.1"
  repository: "file://../test-statefulset"
  alias: test-statefulset
