{{- if .Values.scraper.enabled }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-scraper
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [""]
    resources:
      - "nodes"
      - "nodes/metrics"
      - "nodes/stats"
      - "nodes/proxy"
      - "pods"
      - "services"
    verbs: ["get", "list"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-scraper
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-scraper
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-scraper
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}-scraper
    namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-scraper
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: scraper
  template:
    metadata:
      labels:
        app: scraper
    spec:
      serviceAccountName: {{ .Release.Name }}-scraper
      priorityClassName: system-cluster-critical
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - image: docker.io/library/alpine
          imagePullPolicy: IfNotPresent
          name: {{ .Release.Name }}-scraper
          command:
            - sh
          args:
            - -c
            - |
              apk add curl bash
              sleep 24h
          readinessProbe:
            exec:
              command:
                - which
                - bash
{{- end }}
