{{- define "depInfo" -}}
{{- range $i, $dep := . }}

## [{{ $dep.Name }}]({{ $dep.URL }})

Distributed under the following license(s):

* {{ $dep.LicenceType }}

{{ end }}
{{- end -}}

# Third Party Notices

The New Relic Integration for Kubernetes uses source code from third party libraries which carry
their own copyright notices and license terms. These notices are provided
below.

In the event that a required notice is missing or incorrect, please notify us
either by [opening an issue](https://github.com/newrelic/nri-kubernetes/issues/new),
or by e-mailing [open-source@newrelic.com](mailto:open-source@newrelic.com).

For any licenses that require the disclosure of source code, the source code
can be found at https://github.com/newrelic/nri-kubernetes/.


{{ template "depInfo" .Direct }}

{{ if .Indirect }}

Indirect dependencies

{{ template "depInfo" .Indirect }}
{{ end }}