{{- if and (.Values.controlPlane.enabled) (not (include "newrelic.fargate" .)) }}
apiVersion: apps/v1
kind: {{ .Values.controlPlane.kind }}
metadata:
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
  name: {{ include "common.naming.fullname" . }}-controlplane
  {{- $legacyAnnotation:= fromYaml (include "newrelic.compatibility.annotations" .) -}}
  {{- with  include "newrelic.compatibility.valueWithFallback" (dict "legacy" $legacyAnnotation "supported" .Values.controlPlane.annotations )}}
  annotations: {{ . | nindent 4 }}
  {{- end }}
spec:
  {{- if eq .Values.controlPlane.kind "DaemonSet"}}
  {{- with .Values.updateStrategy }}
  updateStrategy: {{ toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "common.labels.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: controlplane
  template:
    metadata:
      annotations:
        checksum/nri-kubernetes: {{ include (print $.Template.BasePath "/controlplane/scraper-configmap.yaml") . | sha256sum }}
        checksum/agent-config: {{ include (print $.Template.BasePath "/controlplane/agent-configmap.yaml") . | sha256sum }}
        checksum/license-secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "common.labels.selectorLabels" . | nindent 8 }}
        {{- include "common.labels.podLabels" . | nindent 8 }}
        app.kubernetes.io/component: controlplane
    spec:
      {{- with .Values.images.pullSecrets }}
      imagePullSecrets:
          {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with include "common.priorityClassName" . }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with include "common.securityContext.pod" . }}
      securityContext:
        {{- . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "common.serviceAccount.name" . }}-controlplane

      {{- if include "newrelic.controlPlane.hostNetwork" . }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
      {{- if .Values.controlPlane.initContainers }}
      initContainers: {{- tpl (.Values.controlPlane.initContainers | toYaml) . | nindent 8 }}
      {{- end }}
      containers:
        - name: controlplane
          image: "{{ .Values.images.integration.registry }}/{{ .Values.images.integration.repository }}:{{ .Values.images.integration.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.images.integration.pullPolicy }}
          securityContext:
            {{- mustMergeOverwrite
                    (include "common.securityContext.container" . | fromYaml )
                    (include "newrelic.compatibility.securityContext" . | fromYaml )
                    | toYaml | nindent 12 }}
          env:
            - name: "NRI_KUBERNETES_SINK_HTTP_PORT"
              value: {{ get (fromYaml (include "nriKubernetes.controlPlane.agentConfig" .)) "http_server_port" | quote }}
            - name: "NRI_KUBERNETES_CLUSTERNAME"
              value: {{ include "common.cluster" . }}
            - name: "NRI_KUBERNETES_VERBOSE"
              value: {{ include "common.verboseLog.value" . | quote }}

            - name: "NRI_KUBERNETES_NODENAME"
              valueFrom:
                fieldRef:
                  apiVersion: "v1"
                  fieldPath: "spec.nodeName"
            - name: "NRI_KUBERNETES_NODEIP"
              valueFrom:
                fieldRef:
                  apiVersion: "v1"
                  fieldPath: "status.hostIP"

            {{- with .Values.controlPlane.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.controlPlane.envFrom }}
          envFrom: {{ toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: nri-kubernetes-config
              mountPath: /etc/newrelic-infra/nri-kubernetes.yml
              subPath: nri-kubernetes.yml
            {{- with .Values.controlPlane.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.controlPlane.resources }}
          resources: {{ toYaml . | nindent 12 }}
          {{- end }}
        - name: forwarder
          image: "{{ .Values.images.forwarder.registry }}/{{ .Values.images.forwarder.repository }}:{{ .Values.images.forwarder.tag }}"
          imagePullPolicy: {{ .Values.images.forwarder.pullPolicy }}
          securityContext:
            {{- mustMergeOverwrite
                    (include "common.securityContext.container" . | fromYaml )
                    (include "newrelic.compatibility.securityContext" . | fromYaml )
                    | toYaml | nindent 12 }}
          ports:
            - containerPort: {{ get (fromYaml (include "nriKubernetes.controlPlane.agentConfig" .)) "http_server_port" }}
          env:
            - name: "NRIA_LICENSE_KEY"
              valueFrom:
                secretKeyRef:
                  name: {{ include "common.license.secretName" . }}
                  key: {{ include "common.license.secretKeyName" . }}

            - name: "NRIA_OVERRIDE_HOSTNAME_SHORT"
              valueFrom:
                fieldRef:
                  apiVersion: "v1"
                  fieldPath: "spec.nodeName"

            - name: "K8S_NODE_NAME"
              valueFrom:
                fieldRef:
                  apiVersion: "v1"
                  fieldPath: "spec.nodeName"

            {{- if .Values.useNodeNameAsDisplayName }}
            - name: "NRIA_DISPLAY_NAME"
            {{- if .Values.prefixDisplayNameWithCluster }}
              value: "{{ include "common.cluster" . }}:$(K8S_NODE_NAME)"
            {{- else }}
              valueFrom:
                fieldRef:
                  apiVersion: "v1"
                  fieldPath: "spec.nodeName"
            {{- end }}
            {{- end }}

            {{- with .Values.controlPlane.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.controlPlane.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /var/db/newrelic-infra/data
              name: forwarder-tmpfs-data
            - mountPath: /var/db/newrelic-infra/user_data
              name: forwarder-tmpfs-user-data
            - mountPath: /tmp
              name: forwarder-tmpfs-tmp
            - name: config
              mountPath: /etc/newrelic-infra.yml
              subPath: newrelic-infra.yml
            {{- with .Values.controlPlane.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.controlPlane.resources }}
          resources: {{ toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: nri-kubernetes-config
          configMap:
            name: {{ include "common.naming.fullname" . }}-controlplane
            items:
              - key: nri-kubernetes.yml
                path: nri-kubernetes.yml
        - name: forwarder-tmpfs-data
          emptyDir: {}
        - name: forwarder-tmpfs-user-data
          emptyDir: {}
        - name: forwarder-tmpfs-tmp
          emptyDir: {}
        - name: config
          configMap:
            name: {{ include "common.naming.fullname" . }}-agent-controlplane
            items:
              - key: newrelic-infra.yml
                path: newrelic-infra.yml
        {{- with .Values.controlPlane.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with include "nriKubernetes.controlPlane.affinity" . }}
      affinity:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with include "nriKubernetes.controlPlane.tolerations" . }}
      tolerations:
        {{- . | nindent 8 }}
      {{- end }}
      {{- with .Values.controlPlane.nodeSelector | default (fromYaml (include "common.nodeSelector" .)) }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end -}}
{{- end }}
