images:
  pullSecrets:
    - name: nri-kubernetes-internal-dockerhub
  integration:
    pullPolicy: IfNotPresent
    tag: $IMAGE_LINUX_TAG
    repository: $IMAGE_LINUX_REPO
privileged: true
enableWindows: true

windowsOsList:
#  # Limited support for only LTSC2019/LTSC2022: https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support
  - version: ltsc2019
    imageTagSuffix: ltsc2019
    buildNumber: 10.0.17763
    agentImage: "newrelic/infrastructure-windows:1.65.3-ltsc2019"
    integrationImage: $IMAGE_2019
  - version: ltsc2022
    imageTagSuffix: ltsc2022
    buildNumber: 10.0.20348
    agentImage: "newrelic/infrastructure-windows:1.65.3-ltsc2022"
    integrationImage: $IMAGE_2022
