apiVersion: v2
version: 1.3.0-devel
description: This chart creates e2e resources for nri-kubernetes.
name: e2e-resources

dependencies:
  - name: kube-state-metrics
    version: 4.25.0
    repository: https://prometheus-community.github.io/helm-charts
     # Due to https://github.com/kubernetes/kube-state-metrics/pull/1906 hpa metrics cannot be reported anymore if
     # kube-state-metrics version is > 2.6.0 (included by default in helm chart versions after 4.23) for kubernetes
     # versions lower than 1.23, as it uses autoscaler/v2 API which
     # [is not available until that kubernetes version](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#horizontalpodautoscaler-v2-graduates-to-ga).

maintainers:
  - name: alvarocabanas
    url: https://github.com/alvarocabanas
  - name: carlossscastro
    url: https://github.com/carlossscastro
  - name: sigilioso
    url: https://github.com/sigilioso
  - name: gsanchezgavier
    url: https://github.com/gsanchezgavier
  - name: kang-makes
    url: https://github.com/kang-makes
  - name: marcsanmi
    url: https://github.com/marcsanmi
  - name: paologallinaharbur
    url: https://github.com/paologallinaharbur
  - name: roobre
    url: https://github.com/roobre
