pending:
  # -- Enable crashing and pending pods
  enabled: true

cronjob:
  # -- Deploy a dummy cronjob
  enabled: true

failingJob:
  # -- Deploy a failing job
  enabled: true

daemonSet:
  # -- Deploy a dummy daemonSet
  enabled: true

statefulSet:
  # -- Deploy a dummy statefulSet
  enabled: true
  podSecurityContext:
    runAsUser: 0
    fsGroup: 0
  containerSecurityContext: {}

deployment:
  # -- Deploy a dummy deployment
  enabled: true

hpa:
  # -- Enable hpa resources
  enabled: true

persistentVolume:
  # -- Create PVs
  enabled: true
  # -- hostPath for the PersistentVolume (default: /mnt/, for OpenShift use: /var/tmp/e2e-storage)
  hostPath: "/var/tmp/e2e-storage"
  # -- Changes PV type to run on multi-node clusters (e.g. GKE, OpenShift on GCP)
  multiNode: false
persistentVolumeClaim:
  # -- Create PVCs
  enabled: true

loadBalancerService:
  # -- Deploy a loadBalancer service
  enabled: true
  annotations: {}
  # -- If set, will deploy service with a loadBalancerIP set to this value
  fakeIP: ""

scraper:
  # -- Deploy the scraper pod
  enabled: false

demo:
  # -- Deploy in demo mode.
  # Make entities consume non-negligible resources so metrics can be easily observed in the dashboards.
  # This setting only applies to resources that would negatively impact testing times if enabled by default
  enabled: false

# -- Variables for filesystem testing
fileSystemTest:
  fileName: 'pi.txt'

# Changes resource yaml files for running on OpenShift & MiniShift
# OpenShift currently only runs on in demo mode
openShift:
  enabled: false

# Enables running various resources on Windows nodes
# Only runs in demo mode
windows:
# -- Deploy resources on Windows Server 2019 nodes
  is2019: false
# -- Deploy resources on Windows Server 2022 nodes
  is2022: false

kube-state-metrics:
  podSecurityContext: {}
  securityContext: 
    enabled: false
  metricLabelsAllowlist:
    - resourcequotas=[environment,team]
    - namespaces=[environment,team]
    - deployments=[environment,team]
    - pods=[environment,team]
  metricAnnotationsAllowList:
    - resourcequotas=[owner,description]
    - namespaces=[owner,description]
    - deployments=[owner,description]
    - pods=[owner,description]
