# Enable crashing and pending pods
pending:
  enabled: true

# Deploy a dummy cronjob
cronjob:
  enabled: true

# Deploy a failing job
failingJob:
  enabled: true

# Deploy a dummy daemonSet
daemonSet:
  enabled: true

# Deploy a dummy statefulSet
statefulSet:
  enabled: true

# Deploy a dummy deployment
deployment:
  enabled: true

# Enable hpa resources
hpa:
  enabled: true

# Create PVs and PVCs
persistentVolume:
  enabled: true
persistentVolumeClaim:
  enabled: true

# Deploy a loadBalancer service
loadBalancerService:
  enabled: true
  annotations: {}
  fakeIP: ""  # If set, will deploy service with a loadBalancerIP set to this value

# Deploy the scraper pod
scraper:
  enabled: false

# Deploy in demo mode
# Make entities consume non-negligible resources so metrics can be easily observed in the dashboards
# This setting only applies to resources that would negatively impact testing times if enabled by default
demo:
  enabled: false
