name: Windows build for testing

on:
  push:
    branches:
      - buildWinImage/*
  pull_request:
    branches:
      - buildWinImage/*
  workflow_dispatch:
  workflow_call:
    inputs:
      only_this_windows_version_tag:
        description: (ltsc2019 or ltsc2022) Specify the Windows version to build. Leave blank for both 2019 and 2022.
        type: string
        required: false
      scenario_tag:
        description: Tag for the scenario being tested
        type: string
        required: false
        default: "e2e-testing"
    secrets:
      K8S_AGENTS_DOCKERHUB_USERNAME:
        description: DockerHub username for pushing images
        required: true
      K8S_AGENTS_DOCKERHUB_TOKEN:
        description: DockerHub token for pushing images
        required: true

permissions:
  contents: read
  pull-requests: read

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          if [[ -n "${{ inputs.only_this_windows_version_tag }}" ]]; then
            tag="${{ inputs.only_this_windows_version_tag }}"
            last4="${tag: -4}"
            echo "Last 4 digits of tag: $last4"
          fi

          if [[ -z "${{ inputs.only_this_windows_version_tag }}" ]]; then
            echo "matrix={\"windows\":[{\"runner\":\"windows-x64-8-core\",\"tag\":\"ltsc2019\"},{\"runner\":\"windows-x64-8-core\",\"tag\":\"ltsc2022\"}]}" >> $GITHUB_OUTPUT
          else
            echo "matrix={\"windows\":[{\"runner\":\"windows-x64-8-core\",\"tag\":\"${{ inputs.only_this_windows_version_tag }}\"}]}" >> $GITHUB_OUTPUT
          fi

          echo "Final matrix: $(cat $GITHUB_OUTPUT)"

  build:
    name: Build integration for
    needs: generate-matrix
    strategy:
      fail-fast: true
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    runs-on: ${{ matrix.windows.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Generate date-based tag for testing
        run: $tag = Get-Date -Format "yyyyMMddHHmmss"; echo "TAG=$tag" | Out-File -FilePath $env:GITHUB_ENV -Append
      - uses: actions/cache@v5
        with:
          path: |
            ~\AppData\Local\go-build
            ~\go\pkg\mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build integration
        shell: powershell
        env:
          COMMIT: ${{ github.sha }}
          DATE: ${{ needs.build-env-args.outputs.date }}
          TAG: "e2e-testing-${{ github.sha }}"
          WIN_VERSION: ${{ matrix.windows.tag }}
          WIN_DIR: 'windows/nri-kubernetes'
        run: |
            $scriptPath = Join-Path $env:WIN_DIR "build.ps1"
            & $scriptPath

      - name: Build nri-kubernetes container
        shell: powershell
        env:
          COMMIT: ${{ github.sha }}
          MATRIX_TAG: ${{ matrix.windows.tag }}
          WIN_DIR: 'windows/nri-kubernetes'
          SCENARIO_TAG: ${{ inputs.scenario_tag }}
        run: |
          if (-not [string]::IsNullOrEmpty($env:SCENARIO_TAG)) {
            $env:tag = $env:SCENARIO_TAG
            Write-Output "Using scenario tag: $env:tag"
          }

          $env:DOCKER_TAG = "windows-${{ matrix.windows.tag }}-e2e-testing-$env:tag"
          echo "DOCKER_TAG=$env:DOCKER_TAG" | Out-File -FilePath $env:GITHUB_ENV -Append

          $dockerfilePath = Join-Path $env:WIN_DIR "Dockerfile.windows"
          
          ls
          docker build --platform windows/amd64 -f $dockerfilePath `
            --build-arg BASE_IMAGE_TAG=${{ matrix.windows.tag }} `
            --build-arg "COMMIT=${env:COMMIT}" `
            --build-arg "DATE=${env:DATE}" `
            --build-arg "TAG=$env:DOCKER_TAG" `
            -t newrelic/nri-kubernetes-internal:$env:DOCKER_TAG . `

      - name: Login to DockerHub
        # if: ${{ ! github.event.pull_request }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.K8S_AGENTS_DOCKERHUB_USERNAME }}
          password: ${{ secrets.K8S_AGENTS_DOCKERHUB_TOKEN }}

      - name: Push image
        # if: ${{ ! github.event.pull_request }}
        shell: powershell
        run: |
          docker push newrelic/nri-kubernetes-internal:$env:DOCKER_TAG
          Write-Output "Pushed newrelic/nri-kubernetes-internal:$env:DOCKER_TAG"
      - name: Output pushed image tag
        shell: powershell
        run: |
          $image = "newrelic/nri-kubernetes-internal:$env:DOCKER_TAG"
          echo "image=$image" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
