name: E2E over minikube

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  e2eTests:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 7 # len(k8sVersion) is a good number to have here
      matrix:
        privilegedMode: [ "normal", "unprivileged" ]
        # Latest patch version can be found in https://github.com/kubernetes/website/blob/main/content/en/releases/patch-releases.md
        # Some versions might not be available yet in https://storage.googleapis.com/kubernetes-release/release/v1.X.Y/bin/linux/amd64/kubelet
        k8sVersion: [ "v1.15.12", "v1.16.15", "v1.17.17", "v1.18.18", "v1.19.10", "v1.20.6", "v1.21.0", "v1.22.0" ]
    env:
      DOCKER_BUILDKIT: '1' # Setting DOCKER_BUILDKIT=1 ensures TARGETOS and TARGETARCH are populated
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.4.2
        with:
          minikube version: v1.20.0
          kubernetes version: ${{ matrix.k8sVersion }}
          driver: none # required for nri-kubernetes, as metrics gathered for the host are tested as well
      - name: Compile and Build Image
        run: |
          GOOS=linux GOARCH=amd64 make compile # Set GOOS and GOARCH explicitly since Dockerfile expects them in the binary name
          docker build -t test_image_${{ matrix.privilegedMode }}:test --build-arg 'MODE=${{ matrix.privilegedMode }}' .
      - name: Setup Helm
        run: |
          chmod go-r /home/runner/.kube/config
          helm repo add stable https://charts.helm.sh/stable
          helm dependencies update ./e2e/charts/newrelic-infrastructure-k8s-e2e
      - name: Interact with the cluster
        # Best-effort (but unsupported) minors can be marked as non-blocking as follows:
        # continue-on-error: ${{ contains(matrix.k8sVersion, 'v1.22') }}
        # We are changing the group of .kube/config due to "WARNING: Kubernetes configuration file is group-readable."
        run: |
          if [ "${{ matrix.privilegedMode }}" = "unprivileged" ]; then
            UNPRIVILEGED=true
          else
            UNPRIVILEGED=false
          fi
          go run e2e/cmd/e2e.go --verbose --cluster_name=e2e --nr_license_key="fakeLicense" --rbac=true --integration_image_tag=test --integration_image_repository=test_image_${{ matrix.privilegedMode }} --unprivileged=$UNPRIVILEGED
